<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <a href="{% url 'myId' %}"><h1>my id</h1></a>
    <a href="{% url 'routineTeacher' %}"><h1>My Routine</h1></a>
    <a href="{% url 'recordAttendance' %}"><h1>Attendance</h1></a>
    <a href="{% url 'postAssignment' %}"><h1>Post Assignment</h1></a>
    <a href="{% url 'postAnnouncement' %}"><h1>Post Announcement</h1></a>
    <a href="{% url 'archive' %}"><h1>archive</h1></a>
    <a href="{% url 'logout' %}"><h1>logout</h1></a>
</body>
</html>